/* settings.css */

.boxContainer {
  display: flex;
  width: 100%;
}

.boxMenuNav {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
  height: 85.3vh;
}
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.buttonsBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.boxContent {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  height: 93%;
  gap: 1vw;
  margin: 1vw 2vw;
}

.dividerStyles {
  width: 1px;
  background-color: grey;
}

.usernameInfo {
  display: block;
  text-align: left;
  margin-left: 15px;
  width: 100%;
  line-height: 5;
}

.usernameInfo * {
  line-height: 2.5;
}
